#gbwa,
div.gb_0b,
paper-icon-button[data-id~="show-miniplayer"],
paper-button.nav-item-container.tooltip.sub.paper-button-0,
#shop-nav,
a.tooltip[data-action~="send-gift"],
a.tooltip[data-action~="upload-music"] {
    display: none
}

div.table-enticement,
div.image-enticement[class*="short-enticement"] {
    display: none
}

div.image-enticement[class*="full-enticement"] {
    background: none;
    height: 300px;
    min-height: 300px!important
}

input {
    font-family: sans-serif;
}

#left-nav-open-button,
#left-nav-close-button {
    display: none;
}

#material-breadcrumbs {
    margin-right: 0px !important;
}

#back-button, #forward-button {
    width: 32px;
}

#back-button {
    background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-128.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: invert(75%);
}

#forward-button {
    background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: invert(75%);
}
